.mid{
text-align: center;
}
.note{
    display: inline-block;
   
}
.inline{
    display: inline-block;
}
.image{
    height: 200px;
    width: 200px;
    border:solid black;
}
.heading{
    font-size: 100%;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif cursive;
}